@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    --width: 250px;
    --height: calc(1.5 * var(--width));
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}

#card {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#visuals {
    margin: 0px;
}

#product {
    width: var(--width);
    height: var(--height);
}

#text {
    width: var(--width);
    height: var(--height);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}

#logo {
    width: 20px;
    height: auto;
}

#price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saleprice {
    font-family: Fraunces;
    font-size: 24px;
    color: var(--dark-cyan);
}

.normalprice {
    text-decoration: line-through;
}

#title {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 24px;
}

#btn {
    color: white;
    background-color: var(--dark-cyan);
    border: none;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color .15s;
}

#btn:hover {
    cursor: pointer;
    background-color: var(--verydarkblue);
}

@media only screen and (max-width: 500px){
    #card {
        flex-direction: column;
    }

    #product {
        content: url(./images/image-product-mobile.jpg);
        width: 250px;
        height: auto;
    }
}